*{
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
}

body {
    background-color: #5e93be;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 2px;
    font-size: 35px;
}

#equals {
    width: 160px;
    background-color: #4982b8;
    color: white;
}

.operator {
    background-color: #96b6d4;
}

#clearEntry {
    color: rgb(238, 57, 57)
}

#clearAll {
    background-color: rgb(238, 57, 57);
    color: white;
}

#calculator {
    background-color: #94723A;
    width: 420px;
    min-height: 592px;
    border-style: solid;
    border-color: #E0BA7B;
    border-radius: 8px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    "display"
    "buttons"
    "buttons"
    "buttons"
}

#display {
    background-color: #C6E1FA;
    border-style: solid;
    border-color: #7BB0E0;
    width: 375px;
    min-height: 150px;
    text-align: end;
    grid-area: display;
    justify-self: center;
    word-break: break-all;
    margin-top: 8px;
}

#previousInput {
    font-size: 30px;
    min-height: 50px;
}

#currentInput{
    font-size: 65px;
    min-height: 100px;
}

.buttons {
    grid-area: buttons;
    justify-self: center;
    width: 83%;
}